section.about {
    max-width: 400px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.about_header {
    max-width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about_heading--container {
    max-width: 100%;

    margin: 0 auto;
    padding: 2px;
}

.about_heading {
    max-width: 180px;
    min-width: 150px;

    padding-right: 14px;
    
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

.about_img--good-vibes{
    width: 100%;
    min-width: 175px;
    max-width: 207px;

    border-radius: 4px;
}

.about_article {
    max-width: 400px;

    margin-top: 50px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about_img--rodeo {
    width: 100%;
    min-width: 175px;
    max-width: 225px;

    border-radius: 4px;
}

.about_article--subheading-container {
    max-width: 207px;

    margin-right: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_article--subheading {
    max-width: 165px;

    margin-left: 10px;
    margin-bottom: 15px;

    font-size: 13px;
    line-height: 150%;
}

.about_article--signature {
    font-size: 14px;
    text-align: right;
}

@media (min-width:1024px) {

    section.about {
        max-width: 974px;

        margin: 0;

        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .about_article {
        max-width: 974px;

        margin-top: 140px;

        align-items: flex-end;

        position: relative;
        left: 230px;
    }

    .about_header {
        max-width: 450px;
    }

    .about_heading--container {
        position: relative;

        top: 30px;
        left: 157px;
    }

    .about_heading {
        max-width: 450px;
        min-width: 440px;

        padding-right: 0;
        
        font-size: 36px;
    }
    
    .about_img--good-vibes-container {
        width: fit-content;

        position: relative;
        top: -472px;
        left: -132px;
    }
    
    .about_img--good-vibes {
        min-width: 300px;
    }

    .about_img--rodeo {
        min-width: 470px;
    }  
    
    .about_article--subheading-container {
        min-width: 220px;
    
        margin: 0 0 80px 30px;
    }
    
    .about_article--subheading {
        max-width: 195px;

        font-size: 16px;
    }

    .about_article--signature {
        font-size: 20px;
    }

}

@media (min-width:1280px) {

    section.about {
        max-width: 1250px;
    }

    .about_article {
        max-width: 1250px;

        left: 185px;
    }

    .about_heading {
        min-width: 450px;
        
        font-size: 42px;
    }

    .about_img--good-vibes-container {
        top: -605px;
        left: -174px;
    }
    
    .about_img--good-vibes {
        min-width: 385px;
    }

    .about_img--rodeo {
        min-width: 620px;
    }

    .about_article--subheading-container {
        min-width: 280px;
    
        margin: 0 0 80px 30px;
    }

    .about_article--subheading {
        max-width: 245px;

        font-size: 20px;
    }

    .about_article--signature {
        font-size: 26px;
    }

}

@media (min-width:1536px) {

    section.about {
        max-width: 1486px;
    }

    .about_article {
        max-width: 1486px;

        left: 50px;
    }

    .about_heading--container {
        left: 140px;
    }

    .about_heading {
        min-width: 450px;
        
        font-size: 46px;
    }

    .about_img--good-vibes-container {
        top: -730px;
        left: -217px;
    }
    
    .about_img--good-vibes {
        min-width: 470px;
    }

    .about_img--rodeo {
        min-width: 740px;
    }

}

