section.extensions {
  max-width: 400px;

  margin: 0 auto;
}

.extensions_article {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extensions_article--desktop {
  display: none;
}

.extensions_info--container {
  max-width: 380px;

  margin: 60px auto 116px auto;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.extensions_heading {
  max-width: 300px;

  font-size: 32px;
  text-align: center;
  line-height: 150%;
}

.extensions_subheading {
  max-width: 390px;

  padding: 0 5px;

  font-size: 20px;
  text-align: center;
  line-height: 150%;
}

.extensions_button--consultation {
  max-width: 145px;
  height: 40px;
}

@media (min-width: 1024px) {
  section.extensions {
    max-width: 1000px;
    height: 0;
  }

  .extensions_article {
    max-width: 300px;
    height: 500px;

    position: relative;
    top: -500px;
    left: -17px;
  }

  .extensions_info--container {
    max-width: 300px;
    height: 470px;

    margin: 69px auto;
    padding: 5px;
    gap: 70px;
  }

  .extensions_heading {
    min-width: 310px;

    font-size: 36px;
  }

  .extensions_subheading {
    min-width: 310px;

    padding: 0 5px;

    font-size: 17px;
    text-align: center;
    line-height: 150%;
  }
}

@media (min-width: 1280px) {
  section.extensions {
    max-width: 1208px;
  }

  .extensions_article {
    max-width: 400px;
    height: 630px;

    top: -630px;
    left: -40px;
  }

  .extensions_info--container {
    max-width: 400px;

    margin: 80px auto;
  }

  .extensions_heading {
    min-width: 400px;

    font-size: 42px;
  }

  .extensions_subheading {
    max-width: 370px;

    font-size: 20px;
  }

  .extensions_button--consultation {
    max-width: 193px;
    height: 50px;
  }
}

@media (min-width: 1536px) {
  section.extensions {
    max-width: 1486px;
  }

  .extensions_article {
    max-width: 470px;
    height: 757px;

    margin-left: 10px;

    top: -757px;
  }

  .extensions_info--container {
    max-width: 470px;

    margin: 143.5px auto;

    gap: 90px;
  }

  .extensions_heading {
    max-width: 450px;

    font-size: 50px;
  }

  .extensions_subheading {
    max-width: 460px;

    font-size: 25px;
  }

  .extensions_button--consultation {
    max-width: 197px;
    height: 54px;
  }
}
