@import url("./header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mobile__max-width: 500px;
  --mobile__bounds: 0 14px;
}
/*
***********************************************************
* SM
***********************************************************
*/
@media (min-width: 640px) {
}

/*
***********************************************************
* MD
***********************************************************
*/
@media (min-width: 768px) {
}

/*
***********************************************************
* LG
***********************************************************
*/
@media (min-width: 1024px) {
}

/*
***********************************************************
* XL
***********************************************************
*/
@media (min-width: 1280px) {
}

/*
***********************************************************
* 2XL
***********************************************************
*/
@media (min-width: 1536px) {
}
