@import url(./sections/hero/hero.css);
@import url(./sections/about/about.css);
@import url(./sections/extensions/extensions.css);
@import url(./sections/testimonials/testimonials.css);
@import url(./sections/gallery/gallery.css);
@import url(./sections/training/training.css);
@import url(./sections/products/products.css);
@import url(./sections/footer/footer.css);

.home {
  max-width: var(--mobile__max-width);
  padding: var(--mobile__bounds);
  margin: auto;
}

@media (min-width: 1024px) {
  .home {
    max-width: 974px;
  }
}

@media (min-width: 1280px) {
  .home {
    max-width: 1230px;
  }
}

@media (min-width: 1536px) {
  .home {
    max-width: 1486px;
  }
}
